$primaryColour: #13555A;
$secondaryColour: #98903F;
$tertiaryColour: #E5E2CC;
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
@import 'setup';


//general style begins
body {
    margin: 0 auto;
    font-family: $secondaryFont;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 10px;
    text-align: center;
    background: white;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: $primaryFont;
}

h1 {
    font-size: calc(45px + (95 - 45) * ((100vw - 320px) / (1440 - 320)));
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    color: $secondaryColour;
    margin-bottom: 20px;
}

.descriptionWrapper, .wrapper {
    margin: 0 auto;
}

.descriptionWrapper {
    width: 70%;
    text-align: center;
    background-color: #E5E2CC;
    padding: 20px;
}

.wrapper {
    width: 900px;
    max-width: 100%;
}

button, .myClosetButton {
    border: 3px solid $primaryColour;
    letter-spacing: 1px;
    font-size: 1rem;
    background: white;
    outline: none;
    background: $primaryColour;
    color: white;
    font-weight: 300;
    transition: all 0.2s;
    &:hover {
        background-color: white;
        color: $secondaryColour;

    }
}
//general style ends



//header style starts
nav {
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    background: $tertiaryColour;
    padding: 30px;
    text-align: left;
    font-weight: bold;
    .logo, #weather, .counter{
        position: absolute;
    }
    .logo {
        width: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #weather {
        color: $secondaryColour;
        font-size: 1rem;
        top: 0;
        right: 20px;
        & > * {
            float: right;
            padding: 20px 8px;
            margin: 0;
        }
        img {
            width: 45px;
            filter: grayscale(2);
        }
    }
    .counter {
        top: 60px;
        right: 140px;
        .fa-heart {
            font-size: 3rem;
            color: black;
        }
        #userCounterClicks {
            font-size: 2rem;
            margin: 0;
            padding-left: 5px;
        }
    }
}

.navList {
    padding: 0;
    margin: 0 0 0 6%;
    li {
        list-style: none;
        display: inline;
        margin: 20px;
        a {
            text-decoration: none;
            color: black;
            font-size: 1.05rem;
            transition: all 0.2s;
            padding:10px;
            &:hover {
                color: $secondaryColour;
            }
        }
    }
}

.headerContent{
    background: linear-gradient(rgba(255, 255, 255, 0.2), 100%, transparent 0%), url('../../assets/header.jpg') no-repeat fixed;
    margin:0 7%;
    padding-right: 9%;
    .headerContent__Title {
        padding-top: 200px;
        padding-bottom: 400px;
        text-align: right;
    }
    .myClosetButton {
        padding:20px 30px;
        text-decoration: none;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
//header style ends



//section description style starts
.description {
    margin: 220px 0 220px 0;
    h2:first-child {
        margin: 0;
    }
    p {
        font-size: 1rem;
        line-height: 25px;
    }
}
//section description style ends



//main wardrobe style starts
.buttonFilter {
    width: 110px;
    padding:10px 5px;
    margin: 20px 10px 60px 10px;
}

.grid {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

div.element-item { 
    width: 20%; 
    min-height: 270px;
    padding: 20px;
    max-width: 200px;
    position: relative;
    transition: all 0.2s;
    &:hover {
        transform: scale(1.1);
        border: 5px solid $primaryColour;
        background: white;
        z-index: 2;
    }
}

.favoriteHeart {
    position:absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
    color: lightgrey;
}

.favorite {
    .fa-heart {
        color: red;
    }
}
//main wardrobe style ends 



//footer style starts
footer {
    margin-top: 200px;
    background: $tertiaryColour;
    p {
        padding: 50px;
        margin: 0; 
        font-size: 0.9rem;
    }
}
//footer style ends



//media query starts
@media (max-width: 940px) {
    nav .logo {
        width: 45px;
        top: 50%;
        left: 5%;
    }
    .headerContent{
        background-position: center;
    }
    .buttonFilter {
        width: 50%;
    }
    div.element-item { 
        width: 50%; 
        margin: 0;
    }
}

@media (max-width: 770px) {
    .navList {
        li {
            margin: 3px;
        }
    }
    .counter #userCounterClicks {
        font-size: 1rem;
    }
    .counter .fa-heart {
        font-size: 2rem;
    }
}
//media query ends
