//need to add these to variables
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

$primaryColour: #13555A;
$secondaryColour: #98903F;
$tertiaryColour: #E5E2CC;
@import 'setup';


//GENERAL STYLE 
body {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-align: center;
	background: white;
}

h1 {
	font-size: 5rem;
	padding-top: 300px;
}





//HEADER STYLE HEADER STYLE HEADER STYLE
header {
	width: 100vw;
	background: url('../../assets/header.jpg') no-repeat center;
	background-position: cover;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.grid {
	width: 100%;
}

.grid-sizer {
	width: 20%;
}

div.element-item { 
	width: 20%; 
	height: 25%;
	display: inline-block;
	padding: 20px;
	h4 {
		text-align: center;
	}
}

.myClosetButton {
	padding: 20px;
	margin-bottom: 100px;
	// text-align: center;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
}

.submitButton {
	padding: 20px;
	font-size: 18px;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	padding: 50px;
	.logo {
		width: 100px;
		position: absolute;
		top: 15px;
		left: 15px;
	}
	#weather {
		position: absolute;
		top: 15px;
		right: 15px;
		& > * {
			float: right;
		}
	}
}


.nav {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		display: inline;
		a {
			text-decoration: none;
			font-size: 1rem;
			padding: 5px;
		}
	}
	.fa-heart {
		// color: red;
		font-size: 3rem;
	}
}


//HEADER STYLE ENDS HEADER STYLE ENDS

